<div class="footer mt-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h4>&copy; Vehicle Tracking</h4>
        <address>
          L&T Technology Services <br />
          Chennai<br />
          123-456-7890
        </address>
      </div>
      <div class="col-sm-9 text-right">
        <ul class="list-unstyled list-inline">
          <li><a href="">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
