<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Vehicle Tracking</title>

    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="css/home.css" type="text/css" />
    <link rel="stylesheet" href="css/home.css" type="text/css" />
  </head>
  <body>
    <%include partials/navbar%>
    <div class="jumbotron">
      <div class="container">
        <h1>Vehicle Tracking .</h1>
        <p>
          We <strong>track</strong>, <strong>protect</strong>, and
          <strong>deliver</strong>.
        </p>
        <a class="btn">Get started</a>
        <br />
        <!--     <span class="scroll glyphicon glyphicon-chevron-down"></span> -->
      </div>
    </div>
    <%include partials/footer%>
    <script src="lib/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
